<% layout("/layouts/boilerplate") %> 

<!-- npm i ejs-mate   --for layouts -->
   
    
    <div class="row mt-4 mb-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-md-2">
        <% for(let listing of allListings) { %>
          <a href="/listings/<%= listing._id %>" class="listing-link">
            <div class="card">
              <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 15rem;" />
              <div class="card-img-overlay"></div>
              <div class="card-body">
                <p><b><%= listing.title %></b></p>
                ⭐ <%= listing.avgRating ? listing.avgRating.toFixed(1) : "No ratings" %>
(<%= listing.reviewCount %> reviews)
                <p><%= listing.description %></p>
                <p>
                  &#8377;
                  <% if (listing.price) { %>
                    <%= listing.price.toLocaleString("en-IN") %>
                  <% } else { %>
                    Price not available
                  <% } %>
                  /per person
                  
                </p>        
                <p><%= listing.location %></p>
                <p><%= listing.country %></p>
              </div>
            </div>
            </a>
          <% } %>  
    </div>
 

